.chat {
    display: flex;
    height: 100vh;

    &-left {
        width: 488px;
        overflow: hidden;
        flex: 0 0 auto;
    }

    &__header {
        padding: 11px 30px;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: var(--light-cyan);
        border: 1px solid var(---black);
    }

    &-right {
        background-color: var(--white);
        width: 100%;
    }
}

.chat-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    &__img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
    }

    &__name {
        color: var(---black);
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }
}

.exit-profile {
    margin-left: auto;
    color: var(---black);
    text-decoration: none;
    display: block;
}

.search {
    border: 1px solid var(---black);  
    padding: 21px 30px;
    background: var(--white);

    &__control {
        background: var(--white);
        border: 2px solid var(---black);
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 6px 11px;
    }
}


.chat-list {
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
    overflow: auto;
    height: calc(100% - 205px);

    &__item {
        
        &:not(:last-child) {
            border-bottom: 1px solid var(--light-cyan);
        }
    }
}

.conversation-header {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    background-color: var(--light-cyan);
    border-bottom: 1px solid var(---black);
    

    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }

    &__name {
        margin-left: 16px;
        font-size: 18px;
        font-weight: 700;
        color: var(---black);
        cursor: pointer;
    }
}

.conversation-setting {
    margin-left: auto;
    position: relative;

    &__button {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    
        span {
            width: 4px;
            height: 4px;
            display: block;
            margin: 0 auto 4px;
            background-color: #4B494C;
            border-radius: 50%;
        }
    }

    &__list {
        position: absolute;
        right: 20px;
        top: 40px;
    }
}

.setting-list {
    width: 166px;
    padding: 14px 7px;
    margin: 0;
    list-style: none;
    background: var(--white);
    border: 1px solid var(---black);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &__item {

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        color: var(---black);
        text-decoration: none;

        &:hover {
            color: #FF0000;
        }
    }
}

.message-out,
.message-in {
    max-width: 350px;
    display: flex;    
}
.message-wrapper {
    height: calc(100% - 125px);
    background-color: var(--light-cyan);
    overflow: hidden;
}

.message-main {
    background-color: var(--white);
    padding: 5px 10px;
}

.message-out {
    align-items: flex-end
}

.message-list {
    padding: 35px 10px;
    height: calc(100% - 110px);
    overflow: auto;
}

.message-out {
    margin-left: auto;

    .msg-container {
        flex-direction: row-reverse;
    }

    .tail-in {
        transform: scale(-1 , 1);
    }
}

.msg-container {
    display: flex;
}

.tail-in {
    position: relative;
    top: -1px;
}

.compose-box {
    padding: 10px;
}

.compose-form {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    textarea {
        flex: 1 0 0%;
        border: 0;
        resize: none;
        height: 90px;
        padding: 10px;

        &:focus {
            outline: none;
        }
    }
}